<body class="text-center">

<%= render 'shared/banner' %>
<br>

<div id="menu">
<h2>House Cocktails</h2>

<!-- </div>

<% @cocktails.each do |cocktail| %>
<h3> <%= link_to "#{cocktail.name}", cocktail_path(cocktail.id) %></h3>
<p> <%= cocktail.description %> </p>
<br>
<% end %>
<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-white"%>
</div> -->
</body>

<%= render 'shared/card' %>

</body>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
  </div>
</div>
 -->
